@page "/Tienda/About"

<div class="container-fluid pb-5">
    <div class="card">
        <div class="card-header" style="background-color: #fff">
            <div class="row">
                <div class="col d-inline">
                    <h3>Sobre nosotros</h3>
                </div>
                <div class="col d-inline">

                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class=" card">
                        <div class="card-header">
                            <h4 >Codigo Fuente</h4>
                        </div>
                        <div class="card-body" style="background-color: #1e2329">
                            <a href="https://github.com/DevKevs/FINAL-PROG3" style="color:white;"target="_blank">Ir a Github <i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class=" card">
                        <div class="card-header">
                            <h4>API</h4>
                        </div>
                        <div class="card-body" style="background-color: #1e2329">
                            <a style="color:white;" href="https://github.com/alex010620/pymm.git" target="_blank">Ir a Github <i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
@code {

}
