
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Panel de admin</h3>
            </div>
            <div class="container">
                <ul class="list-unstyled components">
                    <p>Mercado</p>
                    <li>
                        <a href="/admin">Home</a>
                    </li>
                    <li>
                        <a href="/Productos">Productos</a>
                    </li>
                    <li>
                        <a href="/admin">Categorías</a>
                    </li>
                    <li>
                        <a href="/admin">Pedidos</a>
                    </li>
                    <li>
                        <a href="/admin">Clientes</a>
                    </li>
                </ul>
            </div>
            

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="/" class="download">Cerrar sesión</a>
                </li>
               
            </ul>
        </nav>

        
 


