@inherits LayoutComponentBase

<div class="sidebar">
    <AdminNavBar />
</div>

<div class="main">
    <div class="top-row px-4">
        <h5>Bienvenido Admin</h5>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>