@page "/"
@inject NavigationManager NavigationManager
@using FinalAmadis.Data
@using Newtonsoft.Json
@using System.Net
@using System.Runtime.CompilerServices
@using System.Threading
@inject IJSRuntime JSRuntime
<center>
    <div class="col-8 card">
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="col-12 row">
            <div class="col-6" style="border-right:groove">
                <img src="/Shopping-rafiki.svg" width="400" />
            </div>
            <div class="col-6" style="border-left:thick">
                <EditForm Model="@user" OnValidSubmit="@HandleSubmit">
                    <DataAnnotationsValidator />
                    <div>
                        <br /><br /><br /><br /><br />
                    </div>
                    <div>
                        <h3 style="font-weight:bold; color:purple">Fusion Market Login</h3>
                    </div>
                    <div>
                        <br />
                    </div>
                    <div class="col-12 row">
                        <InputText id="Correo" type="email" placeholder="Correo electronico" class="form-control" @bind-Value="user.Correo" />
                        <ValidationMessage For=@(() => user.Correo) />
                    </div>
                    <br />
                    <div class="col-12 row">
                        <InputText id="Contraseña" type="password" placeholder="Contraseña" class="form-control" @bind-Value="user.Contraseña" />
                        <ValidationMessage For=@(() => user.Contraseña) />
                    </div>
                    <br />
                    <div class="col-12 row">
                        <span class="col-12"></span>
                        <input type="submit" class="form-control col-6 btn btn-primary" value="Login" />
                        <a href="/Signup" class="col-6">Registrarse</a>
                    </div>
                    <br />
                    <div class="col-12 row" style="text-align:left; font-weight:bold">
                        <span class="col-12" style="color:red">@LoginMesssage</span>
                    </div>
                </EditForm>
            </div>
        </div>
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
    </div>
</center>

@code {
    private Usuario user = new Usuario();
    string jsonString;
    List<Usuario> usuarios = new List<Usuario>();
    string LoginMesssage;
    public dynamic Editable { get; set; }

    private async Task HandleSubmit()
    {
        try
        {
            jsonString = JsonConvert.SerializeObject(user);
            Uri url = new Uri("https://super-mini-market.herokuapp.com/api/login");
            WebClient client = new WebClient();
            var data = await client.UploadStringTaskAsync(url, jsonString);
            
            Editable = JsonConvert.DeserializeObject(data);
            if (Editable != null)
            {
                if (Editable.ok == true)
                {
                    if (Editable.Datos_Usuarios.Rol == "Administrador" || Editable.Datos_Usuarios.Rol == "SuperAdmin" )
                    {
                        NavigationManager.NavigateTo("/admin");
                        await JSRuntime.InvokeVoidAsync("storage", $"{Editable.Datos_Usuarios}");
                    }
                    else if(Editable.Datos_Usuarios.Rol == "Cliente")
                    {
                        NavigationManager.NavigateTo("/index");
                        await JSRuntime.InvokeVoidAsync("storage", $"{Editable.Datos_Usuarios}");
                    }
                }
                else
                {
                    await JSRuntime.InvokeVoidAsync("Confirmar", "error", "Vaya!", "Datos incorrectos");
                    user = new Usuario();
                }
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}
