@page "/Signup"
@inject NavigationManager NavigationManager
@using FinalAmadis.Data
<center>
    <div class="col-8 card">
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="col-12 row">
            <div class="col-6" style="border-right:groove">
                <img src="/Shopping-rafiki.svg" width="400" />
            </div>
            <div class="col-6" style="border-left:thick">
                <EditForm Model="@user" OnValidSubmit="@RegisterUser">
                    <DataAnnotationsValidator />
                    <div>
                        <br /><br />
                    </div>
                    <div>
                        <h3 style="font-weight:bold; color:purple">Fusion Market <br /> Registrarse</h3>
                    </div>
                    <div>
                        <br />
                    </div>
                    <div class="col-12 row">
                        <InputText id="Correo" type="email" placeholder="Nombre" class="form-control" @bind-Value="user.Nombre" />
                        <ValidationMessage For=@(() => user.Nombre) />
                    </div>
                    <br />
                    <div class="col-12 row">
                        <InputText id="Correo" type="email" placeholder="Apellido" class="form-control" @bind-Value="user.Apellido" />
                        <ValidationMessage For=@(() => user.Apellido) />
                    </div>
                    <br />
                    <div class="col-12 row">
                        <InputText id="Correo" type="email" placeholder="Fecha nacimiento" class="form-control" @bind-Value="user.Fecha_Nacimiento" />
                        <ValidationMessage For=@(() => user.Fecha_Nacimiento) />
                    </div>
                    <br />
                    <div class="col-12 row">
                        <InputText id="Correo" type="email" placeholder="Direccion de correo" class="form-control" @bind-Value="user.Correo" />
                        <ValidationMessage For=@(() => user.Correo) />
                    </div>
                    <br />
                    <div class="col-12 row">
                        <InputText id="Correo" type="email" placeholder="Contraseña" class="form-control" @bind-Value="user.Contraseña" />
                        <ValidationMessage For=@(() => user.Contraseña) />
                    </div>
                    <br />
                    <div class="col-12 row">
                        <span class="col-12"></span>
                        <input type="submit" class="form-control col-6 btn btn-primary" value="Registrarse" />
                        <a href="/" class="col-6">Log in</a>
                    </div>
                </EditForm>
            </div>
        </div>
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
    </div>
</center>

@code {
    private RegistroUsuario user = new RegistroUsuario();
    string LoginMesssage;
    private async Task RegisterUser()
    {

    }
}
